*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
        
}

h1{font-size:3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px sold rgba(0, 0, 0, 5);
    box-shadow: 2px 2px 10px rgb(0, 0, 5);
    color: white;
    background-color: darkblue;
}

button:hover{
    background-color: #2c9ef6;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-marcado{
    color: blue;
    font-size: 3.5px
    text-decoration;
    
}

header{
    background-color: white;
    }
    header.logo{
        margin: 2px   ;
        padding: 25px 30px;
        font-weight: bold;
        font-size: 2.5em;;

    }

    header.container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 25px;

    }

    head a{
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    header a :hover{
        color: blue;
        box-shadow: 2px 2px 2px rgb(50, 50, 50);
    }  
        
    #hero{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 90vh;
        border-radius: 20px;
        background-image:url(imagenes/portada.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
             
               
    }
    #hero h1{
        color:rgb(2, 31, 61);
        -webkit-text-stroke: 1px white;
            }

    .link{
        justify-content: center;
         }
            ul {
            
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              
               }
            
            li {
              float: left;
            }
            
            li a {
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            
            }
            
    #Somos-compraYA .container{
        padding: 200px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
                 
    }

    .flex{
        display: flex;
        justify-content: center;

    }
   #Somos-compraYa h2{
       padding: 50px 0px;
       text-align: center;
   }
    #Somos-compraYA img{
        height: 400px;
        width: 300px;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
    }
    #Somos-compraYA .texto{
        width: 50%;
        max-width: 500px;
        text-align: initial;
        padding-left: 30px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        
    }

    #Nuestras-ofertas{
        background-color: rgb(30, 30, 30);
        color: white;
        text-align: center;
    }
    #Nuestras-ofertas.container{
        padding: 100px 0px;
        
    }
    #Nuestras-ofertas .p{
        display: none;
        
    }

    #Nuestras-ofertas .servicio-comida{
        background-image: url(imagenes/comida.jpg);
        background-position: center;
        background-size: cover;
        padding: 50px;
        margin: 12px;
        border-radius: 15px;
    }   

    #Nuestras-ofertas .servicio-juguetes{
    background-image: url(imagenes/juguetes.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 12px;
    border-radius: 15px;
    }

    #Nuestras-ofertas .servicio-mas{
    background-image: url(imagenes/mas.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 12px;
    border-radius: 15px;
}

#compra-YA .container{
    width: auto;
    height: 300px;
    border-radius: 10px;
    text-align: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#contacto .container{
    width: 250px;
    margin: auto;
    margin-top: -100px;
    text-align: center;
    padding: 100px 12px;
}

#contacto h2{
    padding: 10px 0px;
    margin: 20px 0px;
    text-align: center;
    margin-top: 100px;
}

#contacto .registro input {
    margin: 16px 0px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    font-size: 18px;
  
   
}
#contacto .registro textarea {
    margin: 16px 0px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    font-size: 18px;
    color: black;
    width: 250px;
}

#footer.container{
    margin: 0;
    height: 150 150px;
    padding: 12px;
    align-items: flex-end;
    justify-content: center;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header.container{
        flex-direction: row;
        justify-content: space-between;
        }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    
}